.Registercon{
    display: flex;
    position: relative;
    left: 3em;
    padding: 1em;
   background-size: cover;
  
}
.Registercon form{
    border: 1px black solid;
    padding: 2em;
   box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
   
    
}
.Registercon form div button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 2.5em;
    padding: .2em 1em;
    margin-left: 3em;
}
.Registercon form div{
  line-height: 2em;
}
